html {
    background-image: url("otsikon_tausta1.png");
    background-color:rgb(237, 233, 209);
    background-size: 100%;
    background-repeat:no-repeat;
}

body {
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
}


body nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(237, 233, 209);
    background-image: url("navtausta.png");
    background-size: auto 76px;
    border-top: double;
    border-bottom: double;
    border-color: rgb(204, 200, 178);
    border-width: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
}

  ul {
    background: rgb(237, 233, 209);
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  li {
    color: #000000;
    background: rgb(237, 233, 209);
    border: double;
    border-color: rgb(204, 200, 178);
    border-width: 7px;
    display: block;
    float: left;
    padding-left: 2px;
    padding-right: 2px;
    margin-left:1px;
    margin-right: 1px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.7s;
  }
    
  li a {
    color: #000000;
  }
  
  li:hover, li:focus-within {
    background: rgb(122, 119, 100);
    cursor: pointer;

  }

  li:focus-within a {
    outline: none;
  }
  
  ul li ul {
    background: rgb(237, 233, 209);
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.7s ease;
    margin-top: 6px;
    left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  ul li ul li {
    clear: both;
    width: 100%;
  }

h1 {
    color: rgb(61, 44, 24);
    font-family: Courier;
    display:inline-block;
    font-size: 200%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}
h1.jap {
  color: rgb(61, 44, 24);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 200%;
  padding-left: 5%;
  padding-right: 5%;
  float: right;
}
@media only screen and (max-width: 440px) {
  #jap {
    display: none;
  }    
}


h2 {
    color:rgb(61, 44, 24);
    font-family: Courier;
    font-size: 160%;
    padding-left: 5%;
    padding-right: 5%;
}
h3 {
    color: rgb(61, 44, 24);
    font-family: Courier;
    font-size: 140%;
    padding-left: 5%;
    padding-right: 5%;
}
h4 {
    color:rgb(61, 44, 24);
    font-family: Courier;
    font-size: 120%;
    padding-left: 5%;
    padding-right: 5%;
}
h5 {
    color:rgb(61, 44, 24);
    font-family: Courier;
    font-size: 110%;
    padding-left: 5%;
    padding-right: 5%;
}
h6 {
    color:rgb(61, 44, 24);
    font-family: Courier;
    font-size: 110%;
    padding-left: 5%;
    padding-right: 5%;
}
p {
    color:rgb(27, 18, 11);
    font-family: Courier;
    font-size: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
div.taitaja {
    border-top: double;
    border-bottom: double;
    border-color: rgb(154, 150, 133);
    background-color: rgb(231, 225, 199);
    border-width: 7px;
}
summary.yhteenveto {
    border: solid;
    border-width: 3px;
    border-color: rgb(161, 174, 156);
    background-color:rgb(205, 215, 191);
    font-family: inherit;
    font-style: italic;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
div.ki {
    margin: auto;
    width: 100%;
    text-align: center;
    height: auto;
}

/*Sensei-Grid*/
.sensei-item1 { 
    grid-area: text;
    text-align: left;
}
.sensei-item2 {
    grid-area: link;
    text-align: center;
}
.sensei-item3 {
    grid-area: image;
    display: flex;
    align-content: center;
    justify-content: center;
}

.senseigrid {
  display: grid;
  grid-template-areas:
    'text text text image image'
    'text text text image image'
    'link link link image image';
  gap: 30px;
  background-color: inherit;
  padding: inherit;
  margin: inherit;
}

.senseigrid > div {
  background-color: inherit;
  text-align: left;
  padding: 2%;
}

@media only screen and (max-width: 1100px) {
  .sensei-item1 { grid-area: 2 / 1 / 2 / span 5; }
  .sensei-item2 { grid-area: 3 / 1 / 3 / span 5; }
  .sensei-item3 { grid-area: 1 / 1 / 1 / span 5; }
}

/*Ki-Grid*/
.ki-item1 { grid-area: text; }
.ki-item2 { grid-area: link; }
.ki-item3 { grid-area: image; }

.kigrid {
  display: grid;
  grid-template-areas:
    'image text text text text'
    'image text text text text'
    'image link link link link';
  gap: 30px;
  background-color: inherit;
  padding: inherit;
  margin: inherit;
}

.kigrid > div {
  background-color: inherit;
  text-align: left;
  padding: 2%;
}

@media only screen and (max-width: 600px) {
  .ki-item1 { grid-area: 2 / 1 / 2 / span 5; }
  .ki-item2 { grid-area: 3 / 1 / 3 / span 5; }
  .ki-item3 { grid-area: 1 / 1 / 1 / span 5; }
}

img.taitaja {
    float:left;
    width: 30%;
    height: auto;
    padding: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    border: double;
    border-color: rgb(154, 150, 133);
    border-width: 7px;
}
img.sensei {
    width: 80%;
    height: auto;
    padding: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    border: double;
    border-color: rgb(154, 150, 133);
    border-width: 7px;
    min-width: 350px;
    max-width: 550px;
}
@media only screen and (max-width: 600px) {
  img.sensei {
    min-width: auto;
}
}

img.historia {
    float: right;
    width: 20%;
    height: auto;
    padding: 2%;
    margin: 3%;
}
img.ki {
    float: left;
    width: 100%;
    height: auto;
    padding: 5%;
    max-width: 250px;
}
@media only screen and (max-width: 600px) {
  img.ki {
    min-width: auto;
}
}
a:link {
    color:rgb(31, 72, 54);
    font-family: Courier;
    text-decoration: none;
    font-size: 110%;
}
a:visited {
    color:rgb(42, 32, 62);
    font-family: Courier;
    text-decoration: none;
    font-size: 110%;
}
a:hover {
    color:rgb(75, 154, 136);
    font-family: Courier;
    font-size: 110%;
}
a.nav:link {
    color:rgb(0, 0, 0);
    font-family: Courier;
    font-weight: bold;
    text-decoration: none;
    font-size: 110%;
}
a.nav:visited {
    color:rgb(0, 0, 0);
    font-family: Courier;
    font-weight: bold;
    text-decoration: none;
    font-size: 110%;
}
a.nav:hover {
    color:rgb(36, 36, 36);
    font-family: Courier;
    font-weight: bold;
    text-decoration: none;
    font-size: 110%;
}
a.enempi:link {
    color:rgb(20, 33, 17);
    font-family: Courier;
    font-weight: bold;
    text-decoration: none;
    font-size: 100%;
    padding-left: 5%;
}
a.enempi:visited {
    color:rgb(20, 33, 17);
    font-family: Courier;
    font-weight: bold;
    text-decoration: none;
    font-size: 100%;
    padding-left: 5%;
}
a.enempi:hover {
    color:rgb(53, 87, 45);
    font-family: Courier;
    font-weight: bold;
    text-decoration: none;
    font-size: 100%;
    padding-left: 5%;
}
p.footer {
  color:rgb(255, 255, 255);
  font-family: Courier;
  font-size: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
footer {
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-family: Courier;
    font-size: 85%;
    margin-top: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}