html {
    background-image: url("otsikon_tausta1.png");
    background-color:rgb(237, 233, 209);
    background-size: 100%;
    background-repeat:no-repeat;
}

body {
    padding-top: 15%;
 /*   padding-left:  2%;
    padding-right: 2%; */
}


body nav {
    position: sticky;
    background-color: rgb(237, 233, 209);
    top: 0;
}

ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
 /*   padding: 20px;*/
    background: rgb(237, 233, 209);
  }
  li {
    list-style: none;
    margin-right: 20px;
    font-family: Courier;
    font-size: 110%;
    font-weight: bold;
  }
  li a {
    text-decoration: none;
    color: rgb(157, 157, 157);
  }

h1 {
    color: rgb(80, 60, 37);
    font-family: Courier;
    font-size: 200%;
}
h2 {
    color:rgb(103, 81, 39);
    font-family: Courier;
    font-size: 150%;
}
h3 {
    color: rgb(95, 71, 35);
    font-family: Courier;
    font-size: 150%;
}
h4 {
    color:rgb(30, 83, 65);
    font-family: Courier;
    font-size: 120%;
}
h5 {
    color:rgb(85, 70, 49);
    font-family: Courier;
    font-size: 120%;
}
h6 {
    color:rgb(44, 77, 44);
    font-family: Courier;
    font-size: 110%;
}
p {
    color:rgb(27, 18, 11);
    font-family: Courier;
    font-size: 100%;
}
a:link {
    color:rgb(31, 72, 54);
    font-family: Courier;
    text-decoration: none;
    font-size: 110%;
}
a:visited {
    color:rgb(42, 32, 62);
    font-family: Courier;
    text-decoration: none;
    font-size: 110%;
}
/*
a:hover {
    color:rgb(75, 154, 136);
    font-family: Courier;
    font-size: 110%;
}
a.nav:link {
    color:rgb(255, 255, 255);
    font-family: Courier;
    font-weight: bold;
    text-decoration: none;
    font-size: 110%;
}
a.nav:visited {
    color:rgb(255, 255, 255);
    font-family: Courier;
    font-weight: bold;
    text-decoration: none;
    font-size: 110%;
}
a.nav:hover {
    color:rgb(62, 255, 210);
    font-family: Courier;
    font-weight: bold;
    font-size: 110%;
}
*/