html {
    background-image: url("otsikon_tausta1.png");
    background-color:rgb(237, 233, 209);
    background-size: 100%;
    background-repeat:no-repeat;
}

body {
    padding-top: 15%;
 /*   padding-left:  2%;
    padding-right: 2%; */
}


body nav {
    position: sticky;
    background-color: rgb(237, 233, 209);
    top: 0;
}

ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 2%;
    background: rgb(237, 233, 209);
    white-space: wrap;
  }
  li {
    list-style: none;
    margin-right: 20px;
    font-size: 110%;
    font-weight: bold;
    white-space: nowrap;
  }
  li a {
    text-decoration: none;
    color: rgb(157, 157, 157);
  }

h1 {
    color: rgb(61, 44, 24);
    font-family: Courier;
    font-size: 200%;
    padding-left: 5%;
    padding-right: 5%;
}
h2 {
    color:rgb(61, 44, 24);
    font-family: Courier;
    font-size: 150%;
    padding-left: 5%;
    padding-right: 5%;
}
h3 {
    color: rgb(61, 44, 24);
    font-family: Courier;
    font-size: 150%;
    padding-left: 5%;
    padding-right: 5%;
}
h4 {
    color:rgb(61, 44, 24);
    font-family: Courier;
    font-size: 120%;
    padding-left: 5%;
    padding-right: 5%;
}
h5 {
    color:rgb(61, 44, 24);
    font-family: Courier;
    font-size: 120%;
    padding-left: 5%;
    padding-right: 5%;
}
h6 {
    color:rgb(61, 44, 24);
    font-family: Courier;
    font-size: 110%;
    padding-left: 5%;
    padding-right: 5%;
}
p {
    color:rgb(27, 18, 11);
    font-family: Courier;
    font-size: 100%;
    padding-left: 5%;
    padding-right: 5%;

}
div.taitaja {
    border:double;
    border-color: rgb(61, 44, 24);
}
a:link {
    color:rgb(31, 72, 54);
    font-family: Courier;
    text-decoration: none;
    font-size: 110%;
}
a:visited {
    color:rgb(42, 32, 62);
    font-family: Courier;
    text-decoration: none;
    font-size: 110%;
}
a:hover {
    color:rgb(75, 154, 136);
    font-family: Courier;
    font-size: 110%;
}
a.nav:link {
    color:rgb(0, 0, 0);
    font-family: Courier;
    font-weight: bold;
    text-decoration: none;
    font-size: 110%;
}
a.nav:visited {
    color:rgb(0, 0, 0);
    font-family: Courier;
    font-weight: bold;
    text-decoration: none;
    font-size: 110%;
}
a.nav:hover {
    color:rgb(118, 118, 118);
    font-family: Courier;
    font-weight: bold;
    text-decoration: none;
    font-size: 110%;
}
a.enempi:link {
    color:rgb(20, 33, 17);
    font-family: Courier;
    font-weight: bold;
    text-decoration: none;
    font-size: 100%;
    padding-left: 5%;
}
a.enempi:visited {
    color:rgb(20, 33, 17);
    font-family: Courier;
    font-weight: bold;
    text-decoration: none;
    font-size: 100%;
    padding-left: 5%;
}
a.enempi:hover {
    color:rgb(53, 87, 45);
    font-family: Courier;
    font-weight: bold;
    text-decoration: none;
    font-size: 100%;
    padding-left: 5%;
}
img.sensei {
    float:right;
    max-width: 30%;
    height: auto;
    padding:5%;
}